@import "base";
@import "./components/textbox";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

[debug],
[debug] > * {
    border: 1px solid red;
}

.font-400 {
    font-weight: 400;
}

.font-700 {
    font-weight: 700;
}

.h-divider {
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: $color-gray-4;
}

.mt-15 {
    margin-top: 15px;
}

.mt-50 {
    margin-top: 50px;
}

.textbox_label {
    color: $color-gray-2;
    display: block;
    margin-top: 10px;
}